<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.GSFOpenURL.demo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
        <string>com.unicom.dm</string>
        <!--系统跳转-->
        <!--有专门的跳转字符串没有白名单设置-->
        <!--社交-->
        <string>mqq</string>
        <string>mqqiapi</string>
        <string>weixin</string>
        <string>sinaweibo</string>
        <string>renren</string>
        <!--地图-->
        <string>iosamap</string>
        <string>baidumap</string>
        <!--花钱-->
        <string>alipay</string>
        <string>openApp.jdMobile</string>
        <string>openApp.jdiPad</string>
        <string>taobao</string>
        <string>taobaohd</string>
        <string>tmall</string>
        <string>imeituan</string>
        <string>iMeituan</string>
        <string>dianping</string>
        <string>dianpinghd</string>
        <string>bainuo</string>
        <!--银行-->
        <string>wx1cb534bb13ba3dbd</string>
        <string>com.icbc.iphoneclient</string>
        <string>wx2654d9155d70a468</string>
        <string>cmbmobilebank</string>
        <!--视频-->
        <string>bilibili</string>
        <string>youku</string>
        <string>youkuhd</string>
        <string>pptv</string>
        <string>ppstream</string>
        <string>qiyi-iphone</string>
        <string>doubanradio</string>
        <!--音乐-->
        <string>QQmusic</string>
        <string>com.kuwo.kwmusic.kwmusicForKwsing</string>
        <string>kugouURL</string>
        <string>KingsoftOfficeApp</string>
        <string>thunder</string>
        <string>baiduyun</string>
        <string>sinavdisk</string>
    </array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
